<div class="container skills-container">
  <div class="row">
    <div class="col-md-4">
      <div class="card bg-transparent">
        <div class="card-body">
          <div class="row">
            <app-round-object style="width: max-content;" Image='/assets/csharp.png' Alt='Programming_CSharp' Pad='100px' [Width]=80></app-round-object>
            <app-round-object Image='/assets/mssql.png' Alt='Programming_CSharp' Pad='100px' [Width]=80></app-round-object>
          </div>
        </div>
      </div>
      </div>
      <app-connector Width='50px'></app-connector>
      <div class="col-md-4">
        <div class="card bg-transparent">
          <div class="card-body">
            <div class="row">
              <app-round-object style="width: max-content;" Image='/assets/csharp.png' Alt='Programming_CSharp' Pad='100px' [Width]=80></app-round-object>
              <app-round-object Image='/assets/mssql.png' Alt='Programming_CSharp' Pad='100px' [Width]=80></app-round-object>
            </div>
          </div>
        </div>
        </div>
  </div>
</div>
